name: Build and publish Docker image

on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string
      USE_HARBOR:
        required: true
        type: string
    secrets:
      VAULT_URL:
        required: true
      VAULT_SECRET_PATH:
        required: true
      VAULT_ROLE_ID:
        required: true
      VAULT_SECRET_ID:
        required: true
    outputs:
      image_version:
        description: "The version of the image"
        value: ${{ jobs.build-and-publish-docker-image.outputs.image_version }}

jobs:
  build-and-publish-docker-image:
    name: Create and push Docker image
    outputs:
      image_version: ${{ steps.meta.outputs.version }}
    runs-on: [ self-hosted-linux ]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker

      - name: Import harbor secrets from Vault
        if: ${{ inputs.USE_HARBOR }}
        id: import-secrets
        uses: hashicorp/vault-action@v3
        with:
          url: ${{ secrets.VAULT_URL }}
          method: approle
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
          secrets: |
            ${{ secrets.VAULT_SECRET_PATH }}/harbor * ;
            ${{ secrets.VAULT_SECRET_PATH }}/dockerhub *

      - name: Set REPOSITORY_NAME
        uses: NationalLibraryOfNorway/tekst-workflows/.github/action/set-repo-name@main

      - name: Set up docker config (url, username and password) based on USE_HARBOR
        run: |
          if [ "${{ inputs.USE_HARBOR }}" == "true" ]; then
            echo "DOCKER_URL=${{ steps.import-secrets.outputs.HARBOR_URL }}" >> $GITHUB_ENV
            echo "DOCKER_USERNAME=${{ steps.import-secrets.outputs.HARBOR_USERNAME }}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{ steps.import-secrets.outputs.HARBOR_PASSWORD }}" >> $GITHUB_ENV
            echo "IMAGE_NAME=${{ steps.import-secrets.outputs.HARBOR_URL }}/tekst/${{ env.REPOSITORY_NAME }}" >> $GITHUB_ENV
          else
            echo "DOCKER_URL=" >> $GITHUB_ENV
            echo "DOCKER_USERNAME=${{ steps.import-secrets.outputs.DOCKERHUB_USERNAME }}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{ steps.import-secrets.outputs.DOCKERHUB_PASSWORD }}" >> $GITHUB_ENV
            echo "IMAGE_NAME=nationallibraryofnorway/${{ env.REPOSITORY_NAME }}" >> $GITHUB_ENV
          fi

      - name: Log in to docker registry
        if: ${{ inputs.USE_HARBOR }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER_URL }}
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: Log in to docker registry
        if: ${{ inputs.USE_HARBOR == 'false' }}
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=ref,event=branch
            type=ref,event=pr

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: build-artifact

      - name: Extract build artifact
        run: tar xzf build_output.tar.gz -C .

      - name: Build image
        uses: docker/build-push-action@v5
        with:
          push: true
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            ENVIRONMENT=${{ inputs.ENVIRONMENT }}