name: Node Verify and Upload Artifact

on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        description: "The environment to deploy to (stage, prod)"
        type: string
      NODE_VERSION:
        required: true
        description: "The version of Node.js to use"
        type: string
      SET_ENV:
        required: true
        description: "Whether to set the environment variables in a .env.production file"
        type: string
      BUILD_OUTPUT_PATH:
        required: true
        description: "The path to the build output relative to the repository root, e.g. 'dist' or '.next'"
        type: string
    secrets:
      VAULT_URL:
        required: true
      VAULT_SECRET_PATH:
        required: true
      VAULT_ROLE_ID:
        required: true
      VAULT_SECRET_ID:
        required: true

jobs:
  verify-and-upload-build-artifact:
    name: Verify, build and upload artifact
    runs-on: [self-hosted-linux]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Node build
        uses: NationalLibraryOfNorway/tekst-workflows/.github/action/node-build@feat/node-workflows
        with:
          NODE_VERSION: ${{ inputs.NODE_VERSION }}
          SET_ENV: ${{ inputs.SET_ENV }}
          ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
          VAULT_URL: ${{ secrets.VAULT_URL }}
          VAULT_SECRET_PATH: ${{ secrets.VAULT_SECRET_PATH }}
          VAULT_ROLE_ID: ${{ secrets.VAULT_ROLE_ID }}
          VAULT_SECRET_ID: ${{ secrets.VAULT_SECRET_ID }}

      - name: Compress build output
        run: tar czvf build_output.tar.gz ${{ inputs.BUILD_OUTPUT_PATH }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-build-artifact
          path: dist.tar.gz
